@model IEnumerable<EntityLayer.Concrete.Category>
<div class="sidebar box">

    <h3 class="heading">Kategoriler</h3>   
    <ul class="categories">
        @foreach (var x in Model)
        {
            <li><a href="/Blog/BlogByCategory/@x.CategoryID">@x.CategoryName<span></span></a></li>
        }
        </ul>   
</div>


